{% extends 'base.html.twig' %}

{% block title %}Panel de Administraci칩n{% endblock %}

{% block body %}
    <h1>Panel de Administraci칩n</h1>
    <p>Bienvenido, {{ app.user.email }}. Esta es el 치rea exclusiva para administradores.</p>
    <a href="{{ path('app_home') }}">Volver a Inicio</a> | <a href="{{ path('app_logout') }}">Cerrar sesi칩n</a>
{% endblock %}