{% extends 'base.html.twig' %}

{% block title %}Sobre Nosotros{% endblock %}

{% block body %}
    <h1 class="mt-4">Sobre BM Correduría de Seguros</h1>
    <p class="lead">Somos una empresa dedicada a ofrecer soluciones de seguros personalizadas para proteger lo que más importa.</p>
    <p>Con más de 10 años de experiencia, nuestro equipo está comprometido con la excelencia y la satisfacción del cliente.</p>
    <a href="{{ path('app_home') }}" class="btn btn-secondary">Volver al Inicio</a>
{% endblock %}
